<div class="container d-flex flex-column align-items-center justify-content-center vh-100">
  <div class="text-center">
    <p><%= link_to '管理者を作成する', new_user_registration_path(role: 1) %></p>
    <p><%= link_to '従業員を作成する', new_user_registration_path(role: 0) %></p>
  </div>
</div>