<div class="container d-flex flex-column align-items-center justify-content-center vh-100">
  <div class="text-center">
    <header class="mb-3">
      <% if user_signed_in? %>
        <%= button_to "ログアウト", destroy_user_session_path, method: :delete %>
      <% end %>
    </header>
    <p><%= link_to '申請一覧', admin_shifts_path %></p>
    <p><%= link_to '管理者を作成する', root_path %></p>
    <p><%= link_to '従業員を作成する', root_path %></p>
    </div>
  </div>
</div>