<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>ログイン成功！</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="calendar">
          <div class="calendar-header">
            <span class="year">2024</span>年 <span class="month">4</span>月
          </div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>日</th>
                <th>月</th>
                <th>火</th>
                <th>水</th>
                <th>木</th>
                <th>金</th>
                <th>土</th>
              </tr>
            </thead>
            <tbody>
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
